.App {
  text-align: center;
}

html {
  background: #ecf0f1;
}
body, h1, h2 {
  font-family: Helvetica, Sans-serif;
  color: #2c3e50;
  font-weight: 300;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 36px;
  opacity: 0;
  animation: appear 2s 0.3s forwards;
}
.container {
  margin: 4em;
  text-align: center;
}
.loader {
  margin:200px auto;
  border: 16px solid #bdc3c7;
  width: 80px;
  height: 80px;
  border-top-color: #1abc9c;
  border-bottom-color: #3498db;
  border-radius: 50%;
  animation: spin 3s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(360deg) scale(1.1);
  }
  100% {
    transform: rotate(720deg) scale(1);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
